.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding: 20px;
}

.grid-item {
    text-align: center;
    padding: 5px; 
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.grid-item img {
    max-width: 60%;  
    height: auto;
    cursor: pointer;
    margin: 0 auto;
}

.grid-item p {
    margin-top: 5px;
}

.grid-item a {
    text-decoration: none; 
    color: inherit; 
}

.grid-item a:hover {
    text-decoration: none; 
    color: inherit; 
}
h1, h2 {
    margin: 20px 0;
    text-align: center;
}