<!DOCTYPE html>
<html>
<head>
    <title>Download Documents</title>
</head>
<body>
    <h1>Downloadable Documents</h1>
    <ul>
        <li><a href="{{ url_for('static', filename='documents/ASL01/ASL_01 - Communication - Activities.docx') }}" download>ASL_01 - Communication - Activities</a></li>
        <li><a href="{{ url_for('static', filename='documents/ASL01/ASL_01 - Laws and Legislation - Activities (1).docx') }}" download>ASL_01 - Laws and Legislation - Activities</a></li>
        <li><a href="{{ url_for('static', filename='documents/ASL01/ASL_01 - Legislation Worksheet.docx') }}" download>ASL_01 - Legislation Worksheet</a></li>
        <li><a href="{{ url_for('static', filename='documents/ASL01/ASL_01 - Methodologies - Activities.docx') }}" download>ASL_01 - Methodologies - Activities</a></li>
        <li><a href="{{ url_for('static', filename='documents/ASL01/ASL_01 - Roles and Responsibilities - Activities (1).docx') }}" download>ASL_01 - Roles and Responsibilities - Activities</a></li>
        <li><a href="{{ url_for('static', filename='documents/ASL01/ASL_01 Day 1 - Introduction to ASL.pptx') }}" download>ASL_01 Day 1 - Introduction to ASL Powerpoint</a></li>
        <li><a href="{{ url_for('static', filename='documents/ASL01/ASL_01 Day 2 - Software Methodologies.pptx') }}" download>ASL_01 Day 2 - Software Methodologies Powerpoint</a></li>
        <li><a href="{{ url_for('static', filename='documents/ASL01/ASL_01 Day 3 - Roles and Responsibilities.pptx') }}" download>ASL_01 Day 3 - Roles and Responsibilities Powerpoint</a></li>
    </ul>
</body>
</html>
