<!DOCTYPE html>
<html>
<head>
    <title>Download Documents</title>
</head>
<body>
    <h1>Downloadable Documents</h1>
    <ul>
        <li><a href="{{ url_for('static', filename='documents/ASL01/ASL Project one brief.docx') }}" download>ASL Project one brief</a></li>
        <li><a href="{{ url_for('static', filename='documents/ASL01/ASL Project two brief.docx') }}" download>ASL Project two brief</a></li>
        <li><a href="{{ url_for('static', filename='documents/ASL01/ASL Project three brief.docx') }}" download>ASL Project three brief</a></li>
        <li><a href="{{ url_for('static', filename='documents/ASL01/ASL KSB breakdown.docx') }}" download>ASL KSB breakdown</a></li>

    </ul>
</body>
</html>
