{% extends "base_downloads.html" %}
{% block title %}ASL 05 Download Documents{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>ASL 05 Download Documents</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='downloads_pages.css') }}">
</head>
<body>
    <h1>ASL_05 Security in Applications</h1>
    <h2>Downloadable Documents</h2>
    <div class="grid-container">
        {% for doc in [('documents/ASL05/ASL05 - Security in Applications Day1.pptx', 'ASL05 - Security in Applications Day1 Powerpoint'),
                       ('documents/ASL05/ASL05 - Security in Applications Day2.pptx', 'ASL05 - Security in Applications Day2 Powerpoint'),] %}
        <div class="grid-item">
            <a href="{{ url_for('static', filename=doc[0]) }}" download>
                <img src="{{ url_for('static', filename='images/' + ('word_img.png' if doc[0].endswith('.docx') else 'powerpoint_img.png' if doc[0].endswith('.pptx') else 'pdf_img.png')) }}" alt="Document Image">
                <p>{{ doc[1] }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</body>
</html>


{% endblock %}