<!DOCTYPE html>
<html>
<head>
    <title>Download Documents</title>
</head>
<body>
    <h1>Downloadable Documents</h1>
    <ul>
        <li><a href="{{ url_for('static', filename='documents/ASL02/ASL_02 - Dimensions of Service Management Activity (2).docx') }}" download>ASL_02 - Dimensions of Service Management Activity</a></li>
        <li><a href="{{ url_for('static', filename='documents/ASL02/ASL_02 - Service Value Chain Activity (2).docx') }}" download>ASL_02 - Service Value Chain Activity</a></li>
        <li><a href="{{ url_for('static', filename='documents/ASL02/ASL_01 - Roles and Responsibilities - Activities (1).docx') }}" download>ASL_02 - Service Value Systems Activity</a></li>
        <li><a href="{{ url_for('static', filename='documents/ASL02/ASL_02 - 1 Introducing ITIL (Day One) SC1.pptx') }}" download>ASL_02 - 1 Introducing ITIL (Day One) SC1 Powerpoint</a></li>
        <li><a href="{{ url_for('static', filename='documents/ASL02/ASL_02 - 2 Dimensions of Service Management (Day One) SC1.pptx') }}" download>ASL_02 - 2 Dimensions of Service Management (Day One) SC1 Powerpoint</a></li>
        <li><a href="{{ url_for('static', filename='documents/ASL02/ASL_02 - 3 Service Value Systems (Day Two) SC1.pptx') }}" download>ASL_02 - 3 Service Value Systems (Day Two) SC1 Powerpoint</a></li>
    </ul>
</body>
</html>
