{% extends "base_downloads.html" %}
{% block title %}ASL 02 Download Documents{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>ASL 02 Download Documents</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='downloads_pages.css') }}">
</head>
<body>
    <h1>ASL_02 Introduction to Service Management</h1>
    <h2>Downloadable Documents</h2>
    <div class="grid-container">
        {% for doc in [('documents/ASL02/ASL_02 - Dimensions of Service Management Activity (2).docx', 'ASL_02 - Dimensions of Service Management Activity'),
                       ('documents/ASL02/ASL_02 - Service Value Chain Activity (2).docx', 'ASL_02 - Service Value Chain Activity'),
                       ('documents/ASL02/ASL_02 - Service Value Systems Activity (2).docx', 'ASL_02 - Service Value Systems Activity'),
                       ('documents/ASL02/ASL_02 - 1 Introducing ITIL (Day One) SC1.pptx', 'ASL_02 - 1 Introducing ITIL (Day One) SC1 Powerpoint'),
                       ('documents/ASL02/ASL_02 - 2 Dimensions of Service Management (Day One) SC1.pptx', 'ASL_02 - 2 Dimensions of Service Management (Day One) SC1 Powerpoint'),
                       ('documents/ASL02/ASL_02 - 3 Service Value Systems (Day Two) SC1.pptx', 'ASL_02 - 3 Service Value Systems (Day Two) SC1 Powerpoint')] %}
        <div class="grid-item">
            <a href="{{ url_for('static', filename=doc[0]) }}" download>
                <img src="{{ url_for('static', filename='images/' + ('word_img.png' if doc[0].endswith('.docx') else 'powerpoint_img.png' if doc[0].endswith('.pptx') else 'pdf_img.png')) }}" alt="Document Image">
                <p>{{ doc[1] }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</body>
</html>


{% endblock %}