{% extends "base.html" %}
{% block title %}More Resources{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Learning Resources</title>

</head>
<body>
    <h1>Python Learning Resources</h1>

    <h2>Online Courses and Tutorials:</h2>
    <ul>
        <li><a href="https://www.codecademy.com/learn/learn-python" target="_blank">Codecademy Python Course</a></li>
        <li><a href="https://www.coursera.org/" target="_blank">Coursera Python Courses</a></li>
        <li><a href="https://www.edx.org/" target="_blank">edX Python Courses</a></li>
        <li><a href="https://docs.python.org/3/tutorial/index.html" target="_blank">Python.org Official Tutorial</a></li>
        <li><a href="https://automatetheboringstuff.com/" target="_blank">Automate the Boring Stuff</a></li>
    </ul>

    <h2>Books:</h2>
    <ul>
        <li>"Python Crash Course" by Eric Matthes</li>
        <li>"Learn Python the Hard Way" by Zed A. Shaw</li>
        <li>"Python for Data Analysis" by Wes McKinney</li>
        <li>"Python Workbook" by Ben Stephenson</li>
    </ul>

    <h2>YouTube Channels:</h2>
    <ul>
        <li><a href="https://www.youtube.com/user/schafer5" target="_blank">Corey Schafer</a></li>
        <li><a href="https://www.youtube.com/user/sentdex" target="_blank">Sentdex</a></li>
    </ul>

    <h2>Practice Platforms:</h2>
    <ul>
        <li><a href="https://www.hackerrank.com/domains/tutorials/10-days-of-python" target="_blank">HackerRank Python</a></li>
        <li><a href="https://leetcode.com/problemset/all/?topicSlugs=array&difficulty=Easy&difficulty=Medium&difficulty=Hard" target="_blank">LeetCode</a></li>
        <li><a href="https://www.codewars.com/" target="_blank">CodeWars</a></li>
    </ul>

</body>
</html>

{% endblock %}