
<!DOCTYPE html>
<html>
<head>
    <title>Download Documents</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='download_pages.css') }}">
</head>
<body>
    <h1>Downloadable Documents</h1>
    <div class="grid-container">
        <div class="grid-item">
            <a href="{{ url_for('views.asl00_download_page') }}">
                <img src="{{ url_for('static', filename='images/ASL_00.png') }}" alt="ASL_00">
            </a>
            <p>ASL_00 Projects and KSBs</p>
        </div>
        <div class="grid-item">
            <a href="{{ url_for('views.asl01_download_page') }}">
                <img src="{{ url_for('static', filename='images/ASL_01.jpg') }}" alt="ASL_01">
            </a>
            <p>ASL_01 Fundamentals of Application Support</p>
        </div>
        <div class="grid-item">
            <a href="{{ url_for('views.asl02_download_page') }}">
                <img src="{{ url_for('static', filename='images/ASL_02.png') }}" alt="ASL_02">
            </a>
            <p>ASL_02 Introduction to Service Management</p>
        </div>
        <div class="grid-item">
            <a href="{{ url_for('views.asl03_download_page') }}">
                <img src="{{ url_for('static', filename='images/ASL_03.jpg') }}" alt="ASL_03">
            </a>
            <p>ASL_03 Agile & Teamwork</p>
        </div>
        <div class="grid-item">
            <a href="{{ url_for('views.asl04_download_page') }}">
                <img src="{{ url_for('static', filename='images/ASL_04.png') }}" alt="ASL_04">
            </a>
            <p>ASL_04 Users, Customers and Stakeholders</p>
        </div>
        <div class="grid-item">
            <a href="{{ url_for('views.asl05_download_page') }}">
                <img src="{{ url_for('static', filename='images/ASL_05.png') }}" alt="ASL_05">
            </a>
            <p>ASL_05 Security in Applications</p>
        </div>
        <div class="grid-item">
            <a href="{{ url_for('views.asl06_download_page') }}">
                <img src="{{ url_for('static', filename='images/ASL_06.png') }}" alt="ASL_06">
            </a>
            <p>ASL_06 Applying security in Applications</p>
        </div>
        <div class="grid-item">
            <a href="{{ url_for('views.asl07_download_page') }}">
                <img src="{{ url_for('static', filename='images/ASL_07.png') }}" alt="ASL_07">
            </a>
            <p>ASL_07 DevOps in Application Support</p>
        </div>
        <div class="grid-item">
            <a href="{{ url_for('views.asl08_download_page') }}">
                <img src="{{ url_for('static', filename='images/ASL_08.png') }}" alt="ASL_08">
            </a>
            <p>ASL_08 Data in Application Support</p>
        </div>
        <div class="grid-item">
            <a href="{{ url_for('views.asl09_download_page') }}">
                <img src="{{ url_for('static', filename='images/ASL_09.png') }}" alt="ASL_09">
            </a>
            <p>ASL_09 Working with Data in Application Support</p>
        </div>
        <div class="grid-item">
            <a href="{{ url_for('views.asl10_download_page') }}">
                <img src="{{ url_for('static', filename='images/ASL_10.png') }}" alt="ASL_10">
            </a>
            <p>ASL_10 Testing</p>
        </div>
        <div class="grid-item">
            <a href="{{ url_for('views.asl11_download_page') }}">
                <img src="{{ url_for('static', filename='images/ASL_11.jpg') }}" alt="ASL_11">
            </a>
            <p>ASL_11 Production & Live Support</p>
        </div>
        <div class="grid-item">
            <a href="{{ url_for('views.asl12_download_page') }}">
                <img src="{{ url_for('static', filename='images/ASL_12.png') }}" alt="ASL_12">
            </a>
            <p>ASL_12 Defect Management</p>
        </div>
        <div class="grid-item">
            <a href="{{ url_for('views.asl13_download_page') }}">
                <img src="{{ url_for('static', filename='images/ASL_13.png') }}" alt="ASL_13">
            </a>
            <p>ASL_13 Bringing it all Together</p>
        </div>
        <div class="grid-item">
            <a href="{{ url_for('views.asl14_download_page') }}">
                <img src="{{ url_for('static', filename='images/ASL_14.png') }}" alt="ASL_14">
            </a>
            <p>ASL_14 Career Development & Onward Progression</p>
        </div>
        <div class="grid-item">
            <a href="{{ url_for('views.asl15_download_page') }}">
                <img src="{{ url_for('static', filename='images/ASL_15.jpg') }}" alt="ASL_15">
            </a>
            <p>ASL_15 Useful stuff</p>
        </div>
        </div>
    </div>
</body>
</html>
