{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Python Learning Portal</title>

    <!-- Link to Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Link to custom CSS -->
    <link href="styles.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h1>Welcome to Python Learning Portal ASL Apprentice Group</h1>

    <section class="mt-4">
        <h2>Greetings, Future Pythonistas!</h2>
        <p>Python is an incredibly versatile programming language known for its simplicity and readability. It has a wide range of applications, from web development, data analysis, artificial intelligence, scientific computing, to simple scripting and more.</p>

        <p>Whether you're a beginner just starting out, or an experienced developer looking to expand your skill set, Python is a valuable language to learn and master.</p>
    </section>

    <section class="mt-4">
        <h2>Website Under Construction</h2>
        <p>Working behind the scenes to enhance our learning experience. The website is currently under construction, aiming to bring you exciting features, including a real-time code interpreter, in the near future(or never..). Stay tuned for more updates!</p>
    </section>
</div>

<!-- Link to Bootstrap JS and Popper.js (required for some Bootstrap components) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>


{% endblock %}