<!--{% extends "base.html" %}-->
{% block title %}Home{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASL Learning Portal</title>
    
    <!-- Link to Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Link to custom CSS -->
    <link href="styles.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h1>Welcome to ASL Learning Portal!</h1>
    <h2>
        Notes
    </h2>
    <ol>
        <li>ASL Documents: All documents we received so far, let me know if something is missing.</li>
        <li>SQL, Linux, Python - Short guides, to be used more as a reference than learning resources, external resources added for each</li>
        <li>EPA Exam Mocks - 40 questions/quiz.</li>
    </ol>
    
    <!-- Buttons Row -->
    <div class="row mt-3">
        <div class="col-md-4">
            <a href="{{ url_for('views.sql_introduction') }}"><button class="btn btn-primary btn-block">SQL</button></a>
        </div>
        <div class="col-md-4">
            <a href="{{ url_for('views.linux_introduction') }}"><button class="btn btn-primary btn-block">Linux/Bash</button></a>
        </div>
        <div class="col-md-4">
            <a href="{{ url_for('views.introduction') }}"><button class="btn btn-primary btn-block">Python</button></a>
        </div>
    </div>

    <!-- ASL Documents Button -->
    <div class="row mt-3">
        <div class="col-md-6">
            <a href="{{ url_for('views.download_page') }}"><button class="btn btn-success btn-block">ASL Documents</button></a>
        </div>
        <div class="col-md-6">
            <!-- Add your new button here -->
            <a href="{{ url_for('views.exam_mocks') }}"><button class="btn btn-success btn-block">End Point Assesment Exam Mocks</button></a>
        </div>
    </div>

</div>

<!-- Link to Bootstrap JS and Popper.js (required for some Bootstrap components) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>



{% endblock %}
