<!--{% extends "base.html" %}-->
{% block title %}Home{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASL Learning Portal</title>
    
    <!-- Link to Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Link to custom CSS -->
    <link href="styles.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h1>Welcome to ASL Learning Portal!</h1>
    <p>
        If anyone is interested to co-code or create content let me know
    </p>
    <p>
       
    </p>
    
    <!-- Buttons Row -->
    <div class="row mt-3">
        <div class="col-md-4">
            <button class="btn btn-primary btn-block">SQL</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary btn-block">Linux/Bash</button>
        </div>
        <div class="col-md-4">
            <a href="{{ url_for('views.introduction') }}"><button class="btn btn-primary btn-block">Python</button></a>
        </div>
    </div>

    <!-- ASL Documents Button -->
    <div class="row mt-3">
        <div class="col-md-4 offset-md-4">
            <a href="{{ url_for('views.download_page') }}"><button class="btn btn-secondary btn-block">ASL Documents</button></a>
        </div>
    </div>

    <h2 class="mt-5">🚧 Our website is currently under construction 🚧</h2>
    <p>
        Working hard to provide the best learning experience. Soon, introducing interactive features like a code interpreter. Stay tuned! (If anyone wants to co-code let me know.)
    </p>
</div>

<!-- Link to Bootstrap JS and Popper.js (required for some Bootstrap components) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>



{% endblock %}
